<div th:fragment="siteHeader">
  <header>
    <a href="/">
      <img id="header-logo" class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Spring_Framework_Logo_2018.svg/2560px-Spring_Framework_Logo_2018.svg.png" alt="">
    </a>
    
    <div class="nav-menus-items">
    <span class="categories-menu-item">
      Categories
      <i class="fa-solid fa-arrow-up"></i>
    </span>
      <div class="categories-menu">
        
        <div class="categories">
          <div class="category-column" th:each="entry : ${categoryMap}">
            <h3 th:text="${entry.key.name}">Parent Category</h3> <!-- Szülő neve -->
            
            <ul>
              <li th:each="child : ${entry.value}" th:text="${child.name}" th:data-id="${child.id}" class="child-category">Child Category</li>
            </ul>
          </div>
          
          <!-- <div class="category-column">
            <h3>Coffee</h3>
            <ul>
              <li>Light Roast</li>
              <li>Medium Roast</li>
              <li>Dark Roast</li>
            </ul>
            <div style="height: 0.25rem;"></div>
            <ul>
              <li>Single Origin</li>
              <li>Decaf</li>
              <li>Single Serve</li>
              <li>Shop All</li>
            </ul>
          </div>
          <div class="category-column">
            <h3>Everything Else</h3>
            <ul>
              <li>Everything Else</li>
              <li>Gift Card</li>
              <li>Equipment</li>
              <li>Tea</li>
              <li>Syrup</li>
              <li>All Merch</li>
            </ul>
            <div style="height: 0.25rem;"></div>
            <ul>
              <li>Apparel</li>
              <li>Hats</li>
              <li>Drinkware</li>
              <li>Accessories</li>
            </ul>
          </div> -->
        </div>
        
        
        <div class="carousel-nav">
          <div>
            <span class="featured-products-text">Featured products</span>
          </div>
          <div>
            <button class="nav-button nav-left" onclick="scrollCarousel(-1)">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button class="nav-button nav-right" onclick="scrollCarousel(1)">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
          
          <div class="carousel-container">
            <div class="carousel" id="carousel">
              <div class="card" th:each="carouselItem : ${carouselItems}">
                <a th:href="'/products/' + ${carouselItem.id}" style="text-decoration: none;">
                  <img th:src="${carouselItem.b64Image}" alt="img">
                  <div class="card-title" th:text="${carouselItem.name}"></div>
                  <div class="price" th:text="'$' + ${carouselItem.price}"></div>
                </a>
              </div>
            </div>
          </div>
        
        </div>
      
      </div>
    </div>
    
    <div class="nav-items">
      <div class="welcome-wrapper">
        <div class="welcome-text-ghost" th:text="${welcomeText}"></div>
        <div class="welcome-text" th:attr="data-text=${welcomeText}"></div>
      </div>
      <i class="fa-regular fa-user" id="profile-icon"></i>
      <div class="dropdown-modal" id="profile-dropdown">
        <th:block th:each="action : ${profileActions}">
          <button th:text="${action.actionName}"
                  th:onclick="'location.href=\'' + @{${action.href}} + '\''">
          </button>
        </th:block>
      </div>
      
      <div class="cart" id="cart-link">
        Cart
        <span class="cart-item-counter" id="my-cart-counter"></span>
      </div>
      
      <script>
        document.getElementById("cart-link").addEventListener("click", function () {
          window.location.href = "/cart";
        });
      </script>
      
    </div>
  </header>
</div>